.service-container{
    /* width: 85%; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product-name{
    font-weight: 500;
    margin: 10px 0 15px;
    font-size: 24px;
}
.card{
    box-shadow: 0 0 20px 2px hsl(0deg 0% 90% / 81%);   
    transition: .3s; 
    min-height: 580px;
}

.card:hover{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.c-btn{
    background-color: #6851E2 !important;
    padding: 12px 7rem !important;
    color: #fff !important;
    margin-top: 20px;
    font-weight: 600;
}